/* Estilos para el Wrapper */

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-gray-dark);
  border: solid;
  border-color: var(--color-gray-light);
  box-shadow: 0px 8px 0px var(--color-gray-darkest);
  transition: all 0.2s ease-in-out;
}

.focusedWrapper {
  background-color: var(--color-gray-light);
  /* Fondo más claro */
  border-color: var(--color-white);
  /* Borde blanco */
  box-shadow: 0px 8px 0px var(--color-gray-darkest);
}

.sliderWrapper:hover {
  background-color: var(--color-gray-light);
  border-color: var(--color-white);
  box-shadow: 0px 8px 0px var(--color-white);
}

.disabledWrapper {
  background-color: var(--color-gray-dark);
  /* Fondo más oscuro */
  border-color: var(--color-gray-light);
  /* Borde más oscuro */
  box-shadow: 0px 8px 0px var(--color-gray-light);
  /* Sombra más oscura */
  opacity: 0.6;
  cursor: not-allowed;
}

/* Valores numéricos*/
.valueLabel,
.maxLabel {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  /* Color del texto dentro del recuadro */
}

.disabledWrapper .valueLabel,
.disabledWrapper .maxLabel {
  color: var(--color-gray-lightest);
  cursor: not-allowed;
}

.sliderInput {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  /* Altura de la barra */
  border: none;
  background: transparent;
  /* Ahora el fondo del input es transparente */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Estilo para el Track */
.sliderInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(to right,
      var(--color-gray-lightest) var(--progress-percent, 0%),
      /* Color de progreso */
      var(--color-gray-darkest) var(--progress-percent, 0%)
      /* Color restante */
    );
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.sliderInput:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
      var(--color-orange) var(--progress-percent, 0%),
      var(--color-gray-dark) var(--progress-percent, 0%)
  );
}

.sliderInput:disabled::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
      var(--color-gray-darkest) var(--progress-percent, 0%),
      var(--color-gray-darkest) var(--progress-percent, 0%)
  );
  cursor: not-allowed;
}

/* Estilos para el Thumb*/
.sliderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-gray-lightest);
  border: 4px solid var(--color-gray-light);
  border-radius: 50%;
  margin-top: -6px;
  /* Ajuste para centrarlo verticalmente */
  transition: all 0.2s ease-in-out;
  /* IMPORTANTE: Necesitamos el z-index para que el thumb esté sobre el track si se usa clip-path */
  z-index: 2;
}

.sliderInput:focus::-webkit-slider-thumb {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.sliderInput:hover::-webkit-slider-thumb {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.sliderInput:disabled::-webkit-slider-thumb {
  background-color: var(--color-gray-dark);
  border-color: var(--color-gray-light);
  cursor: not-allowed;
}