.tableContainer {
    width: 100%;
    margin-top: 20px;
    border: 4px solid var(--color-gray-light);
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--color-gray-darkest);
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    overflow: hidden;
}

.tableHeader {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(var(--column-count), 1fr);
    background-color: var(--color-gray-dark);
    padding: 4px 32px;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid var(--color-gray-light);
}

.headerCell {
    padding: 4px;
    text-align: start;
    justify-self: start;
}

.tableBody {
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 8px;
    border: solid 4px var(--color-gray-darkest);
    border-bottom: none;

    /* Estilos de la barra de desplazamiento para WebKit */
    /* Ancho de la barra de desplazamiento */
    &::-webkit-scrollbar {
        width: 12px;
    }

    /* Fondo del track de la barra de desplazamiento */
    &::-webkit-scrollbar-track {
        background: var(--color-gray-darkest);
        border-radius: 4px;
    }

    /* El "thumb" o la parte arrastrable de la barra */
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-dark);
        border-radius: 4px;
        border: 3px solid var(--color-gray-light);
    }

    /* Estilo del thumb al pasar el cursor por encima */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-gray-lightest);
        border-color: var(--color-white);
    }
}

/* Estilo de Filas */
.dataRow {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(var(--column-count), 1fr);
    border-bottom: 4px solid var(--color-gray-darkest);
    background-color: var(--color-gray-dark);
    font-family: var(--font-body);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    padding: 8px 32px;
}

.dataRow:hover {
    background-color: var(--color-gray-light);
    cursor: pointer;
}

.dataRow:active {
    background-color: var(--color-gray-light);
}

.dataCell {
    padding: 4px;
    width: inherit;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Utility classes for alignment */
.centerAlign {
    justify-self: center;
    text-align: center;
}

.startAlign {
    justify-self: start;
    text-align: start;
}

.emptyState {
    padding: 20px;
    text-align: center;
    color: var(--color-gray-light);
    font-style: italic;
}