.tooltipWrapper {
    position: relative; /* Contenedor para posicionar el tooltip relativo al hijo */
    display: block; /* Asegura que ocupe todo el espacio para el hover */
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-55%); }
    to { opacity: 1; transform: translateY(-50%); }
}

.tooltipBox {
    position: absolute;
    z-index: 9999;
    left: calc(100% - 2vw);
    top: calc(100% - 8vh);

    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px var(--color-white);
    border: 4px solid var(--color-white);
    width: 256px; /* Ancho fijo para consistencia */
    height: 512px;
    pointer-events: none; /* Ignorar eventos del ratón */
    
    /* Animación de entrada simple */
    opacity: 0;
    animation: fadeIn 0.15s ease-out forwards;
}

.tooltipModelViewerContainer{
    width: 100%;
    height: 100%;
}

/* Contenido del Tooltip (JSON formateado) */
.tooltipContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    font-size: 13px;
    margin-top: 8px;
    padding: 8px;
    background-color: var(--color-gray-dark);
    border-radius: 8px;
    height: 100%;
}

.tooltipTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--color-white);
    margin-bottom: 5px;
    text-align: center;
}

.tooltipDivider {
    border: 0;
    height: 4px;
    width: 100%;
    background: var(--color-gray-light);
    margin: 5px 0 8px 0;
}

.tooltipRow {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
}

.tooltipKey {
    font-weight: 600;
    color: var(--color-white);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.tooltipValue {
    text-align: left;
    font-weight: 400;
    color: var(--color-gray-lightest);
    word-break: break-all;
}

.tooltipNoData {
    color: var(--color-gray-lightest);
    font-style: italic;
    text-align: center;
}