.formContainer {
    position: relative;
    padding: 16px 8px;
    max-width: 450px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    justify-content: center;
    border-bottom: 4px solid var(--color-gray-light);
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.closeButton {
    background: none;
    border: none;
    color: var(--color-gray-lightest);
    cursor: pointer;
    padding: 16px;
    transition: color 0.2s;
}

.closeButton:hover {
    color: var(--color-white);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.costContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px 8px;
    width: 100%;
}

.form label {
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);
    text-transform: uppercase;
}

.costContainer .currency {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-white);
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-self: end;
    width: 100%;
    margin-top: 32px;
}