/* src/pages/Dashboard/Dashboard.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.dashboardContainer {
    padding: 30px;
    color: var(--color-white);
}

.overviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 50%;
}