/* src/pages/Profile/ProfilePage.module.css */

.profilePage {
}

.profileForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.avatarSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    padding: 16px;
    border-radius: 8px;
    border: 4px solid var(--color-gray-light);
    background-color: var(--color-gray-darkest);
    margin-top: 16px;
    width: 100%;
}

.avatarContainer {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 64px;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    color: var(--color-white);
}

.avatarContainer:hover .avatarOverlay {
    opacity: 1;
}

.credentialsSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-template-columns: 1fr;
}

/* --- Status Messages --- */
.status {
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
}

.status.info {
    background-color: rgba(59, 130, 246, 0.2);
    /* Blue */
    color: var(--color-primary-light);
}

.status.success {
    background-color: rgba(16, 185, 129, 0.2);
    /* Green */
    color: #10b981;
}

.status.error {
    background-color: rgba(239, 68, 68, 0.2);
    /* Red */
    color: var(--color-error);
}


.buttonGroup {
    display: flex;
    justify-content: end;
    gap: 32px;
    margin-top: 30px;
    border-top: 4px solid var(--color-gray-darkest);
    padding: 32px;
}