:root {
  /* Grises */
  --color-gray-darkest: #333333; /* Primer gris oscuro */
  --color-gray-dark: #4d4d4d;    /* Segundo gris oscuro */
  --color-white: #ffffff;       /* Blanco */
  --color-light-gray: #f2f2f2;   /* Gris muy claro */
  --color-medium-gray: #b3b3b3;  /* Gris medio */

  /* Naranjas */
  --color-orange-dark: #ff7417;  /* Naranja oscuro (primer naranja) */
  --color-orange-light: #df5900; /* Naranja claro (segundo naranja) */

  /* Azul */
  --color-blue-ligh: #3498db;        /* Azul */
    --color-blue-dark: #0745a3;        /* Azul */


  /* Rojos */
  --color-red-bright: #e42e1a;   /* Rojo brillante (primer rojo) */
  --color-red-dark: #ac1e0e;     /* Rojo oscuro (segundo rojo) */

  /* Verdes */
  --color-green-light: #a6df23;  /* Verde claro (primer verde) */
  --color-green-dark: #66be00;   /* Verde oscuro (segundo verde) */

  /* Amarillos */
  --color-yellow-bright: #ffe602; /* Amarillo brillante (primer amarillo) */
  --color-yellow-light: #d49c00;  /* Amarillo claro (segundo amarillo) */
}