:root {
  /* Grises */
  --color-gray-darkest: #2a2c2b;
  --color-gray-dark: #3c3d38;
  --color-gray-light: #4a4c41;
  --color-gray-lightest: #74746b;

  /*Blanco */
  --color-white: #cddbba;

  /* Colores de Acento */
  --color-yellow: #f5ce11;
  --color-orange: #f59f11;
  --color-blue: #2d84fa;
  --color-red: #f53e11;
  --color-green: #a2fa0c;
}