:root {
  /* Grises */
  --color-gray-darkest: #1d2127;
  --color-gray-dark: #2c2f26;
  --color-gray-light: #3d4136;
  --color-gray-lightest: #636556;

  /*Blanco */
  --color-white: #cccc99;

  /* Colores de Acento */
  --color-orange: #ff8800;
  --color-blue: #2288ff;
  --color-red: #ff2200;
  --color-green: #bbff00;
  --color-yellow: #ffbb00;
}