 /*Paleta de Colores*/
 @import url('./colors.css');

 /* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=Genos:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 /* Fuentes y estilos globales */
 :root {
   --font-title: 'Genos', sans-serif;
   --font-body: 'Cascadia Mono', sans-serif;
   --font-code: 'Cascadia Code', monospace;
   color: var(--color-white);
   font-family: var(--font-body);
   line-height: 1.5;
 }

 /* Restablecimiento de CSS para consistencia */
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 /* Estilos de Tipografía */
 body {
   font-family: var(--font-body);
   background-color: var(--color-gray-dark);
   color: var(--color-white);
   font-size: 0.9rem;
   /* Peso por defecto para el cuerpo del texto */
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-title);
   font-size: 1rem;
   font-weight: 700;
   /* Negrita, el peso más alto para el título principal */
   color: var(--color-white);
 }

 p {
   font-family: var(--font-body);
   font-size: 0.8rem;
   color: var(--color-gray-lightest);
   font-weight: 400;
 }

 span {
   font-family: var(--font-code);
   font-weight: 400;
   color: var(--color-white);
 }

 /* Enlaces */
 a {
   font-weight: 500;
   color: var(--color-blue);
   text-decoration: none;
   transition: color 0.25s;
 }

 a:hover {
   color: var(--color-white);
 }

 /* Asegúrate de que los estilos por defecto de los botones no interfieran */
 button {
   font-family: var(--font-body);
 }

 /* --- Estilos para Código --- */
 code {
   font-family: var(--font-code);
   font-weight: 500;
   background-color: var(--color-gray-light);
   border-radius: 16px;
   color: var(--color-white);
 }