.listContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
    width: inherit;
    max-height: 128px;
}

.toggleButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-gray-dark);
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: var(--color-white);
}

.listTitle {
    font-weight: 400;
    color: var(--color-white);
}

.list {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    /* Justo debajo del InputField */
    left: 0;
    right: 0;
    z-index: 20;
    background-color: var(--color-gray-darkest);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    width: 100%;
    max-height: 256px;
    margin-top: -8px;
    padding-top: 16px;
    gap: 4px;
    overflow-y: auto;
    /* Estilos de la barra de desplazamiento para WebKit */
    /* Ancho de la barra de desplazamiento */
    &::-webkit-scrollbar {
        width: 12px;
    }

    /* Fondo del track de la barra de desplazamiento */
    &::-webkit-scrollbar-track {
        background: var(--color-gray-darkest);
        border-radius: 4px;
    }

    /* El "thumb" o la parte arrastrable de la barra */
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-dark);
        border-radius: 4px;
        border: 3px solid var(--color-gray-light);
    }

    /* Estilo del thumb al pasar el cursor por encima */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-gray-lightest);
        border-color: var(--color-white);
    }
}

.listCollapsed {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;    
    transition: all 0.2s ease-in-out;
}

.emptyList {
    display: flex;
    align-items: center;
    color: var(--color-gray-darkest);
    font-style: italic;
    font-size: 13px;
    padding: 4px 0;
}

.emptyIcon {
    margin-right: 8px;
    color: var(--color-gray-light);
}

/* Estilo del ítem individual de la lista (Target para el Tooltip) */
.listItem {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: var(--color-gray-darkest);
    transition: background-color 0.2s, border-color 0.2s;
    cursor: default;
}

.listItem:hover {
    background-color: var(--color-gray-light);
}

.itemNameContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    
}

.itemName {
    font-weight: 400;
    color: var(--color-white);
}

.itemCount {
    font-weight: 400;
    color: var(--color-gray-light);
    font-size: 13px;
}

.removeButton {
    background-color: var(--color-gray-darkest);
    padding: 8px;
    border-radius: 32px;
    color: var(--color-white);
    border: none;
}

.removeButton:hover {
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    border: none;
}