.infoPill {
    border-radius: 8px;
    border: 4px solid var(--color-gray-light);
    display: flex;
    justify-content: start;
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    transition: all 0.2s ease-in-out;
    background-color: var(--color-gray-dark); /* Fondo base */
    color: var(--color-gray-lightest); /* Texto base */
    width: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 100%;
}

.infoHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--color-gray-darkest);
    border-radius: 32px;
    border: 4px solid var(--color-gray-light);
    padding: 4px;
    min-width: 50%;
}