.infoPill {
    display: flex;
    justify-content: start;
    transition: all 0.2s ease-in-out;
    background-color: var(--color-gray-darkest); /* Fondo base */
    border: 4px solid var(--color-gray-light);
    color: var(--color-gray-lightest); /* Texto base */
    border-radius: 8px;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.infoHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
}

.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    min-width: 100%;
    background-color: var(--color-gray-dark);
    border-radius: 0px 0px 4px 4px;
    padding: 2px 4px;
}