/* Estilos Base Comunes */
.infoPill {
    /* Estilos estructurales */
    padding: 1rem;
    border-radius: 16px;
    border: 4px solid var(--color-gray-light);
    display: flex;
    justify-content: start;
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    transition: all 0.2s ease-in-out;
    background-color: var(--color-gray-dark); /* Fondo base */
    color: var(--color-gray-lightest); /* Texto base */
    width: 100%;
    padding: 8px;
    gap: 16px;
}


.defaultLayout {
    align-items: center;
    column-gap: 0.75rem;
}

.descriptionLayout {
    display: flex;
    flex-direction: row;
}

.content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
}

.icon {
    flex-shrink: 0;
}

.label {
    font-size: 0.75rem; 
    font-weight: 500; 
    text-transform: uppercase;
    color: var(--color-white); 
    margin-bottom: 0.125rem; 
}

.value {
    font-weight: 700;
    font-size: 1.125rem; /* text-lg */
    color: var(--color-white);
}

.descriptionLayout .value {
    font-size: 0.875rem; /* text-sm */
    margin-top: 0.25rem; 
    line-height: 1.4;
}


.indigo, .blue { 
    border-color: var(--color-blue);
    color: var(--color-white);
}
.indigo .icon, .blue .icon {
    color: var(--color-blue);
}

.green {
    border-color: var(--color-green);
    color: var(--color-white);
    
}
.green .icon {
    color: var(--color-green);
}

.gray {
    border-color: var(--color-gray-light);
    color: var(--color-white);
}
.gray .icon {
    color: var(--color-gray-lightest);
}

.yellow {
    border-color: var(--color-orange);
    color: var(--color-white);
}
.yellow .icon {
    color: var(--color-orange);
}
