/* --- Estilos de DetailViewerCard (Redise침ado) --- */

.viewerCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-dark);
    border-radius: 12px;
    border: 4px solid var(--color-gray-light);
    padding: 8px;
    width: inherit;
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
}

/* --- Secci칩n del Visualizador 3D --- */
.visualizerContainer {
    padding: 16px;
    text-align: center;
}

.visualizerTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--color-white) /* teal-200 */
}

/* Placeholder para ModelViewer component */
.threeDModelPlaceholder {
    height: 300px; /* Altura para el visualizador 3D */
    background-color: #374151;
    border-radius: 8px 8px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #4b5563;
    margin: 0 -20px; /* Extiende a los bordes de la secci칩n visualizer */
}

/* --- Secci칩n de Detalles --- */
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 16px;
    height: 100%;
}

.descriptionSection {
    margin-bottom: 16px;
    padding: 8px;
    background-color: var(--color-gray-light);
    border-radius: 8px;
}

.description {
    color: var(--color-white);
}

.detailsGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detailRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
}

.detailList {
    display: flex;
    flex-direction: column;
    
}

.detailLabel {
    font-weight: 400;
    color: var(--color-white);
}

.detailValue {
    font-weight: 400;
    color: var(--color-gray-lightest);
}

.detailValueSmall {
    font-weight: 400;    
    color: var(--color-gray-lightest);
}

/* --- Estado --- */
.statusRunning { color: var(--color-green); }
.statusStopped { color: var(--color-red); }
.statusStarting { color: var(--color-yellow); }

.viewerCardPlaceholder {
    height: 100%;
    min-height: 450px; 
    background-color: #ffffff;
    border-radius: 12px;
    border: 2px dashed #d1d5db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}