.chart {
  background: var(--color-gray-darkest);
  border: 4px solid var(--color-gray-light);
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.empty {
  color: var(--color-gray-lightest);
  padding: 30px;
  text-align: center;
}

.xLabel {
  font-size: 10px;
  fill: var(--color-gray-lightest);
  text-anchor: middle;
}

.yLabel {
  font-size: 10px;
  fill: var(--color-gray-lightest);
}
