/* src/pages/Workspaces/WorkspaceDetailsPage.module.css */

.detailsContainer {
    padding: 40px;
    color: var(--color-white);
}

/* --- Header y Breadcrumbs --- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 32px;
    width: 100%;
}

.infoColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 8px;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    box-shadow:  0px 8px 0px 0px var(--color-gray-darkest);
    border-radius: 8px;
}

.infoPillsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.racksColumn{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rackGrid{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    box-shadow: inset 4px 4px 0px 0px var(--color-gray-darkest);
    border-radius: 8px;
    padding: 16px;
    overflow-y: hidden;
    overflow-x: scroll;

    /* Estilos de la barra de desplazamiento para WebKit */
    /* Ancho de la barra de desplazamiento */
    &::-webkit-scrollbar {
        width: 12px;
    }

    /* Fondo del track de la barra de desplazamiento */
    &::-webkit-scrollbar-track {
        background: var(--color-gray-dark);
        border-radius: 4px;
    }

    /* El "thumb" o la parte arrastrable de la barra */
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-darkest);
        border-radius: 16px;
    }

    /* Estilo del thumb al pasar el cursor por encima */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-white);
    }
}

.titleGroup {
    display: flex;
    align-items: center;
}

.bottomActions {
    display: flex;
    justify-content: end;
    padding: 32px;
    border-top: 4px solid var(--color-gray-light);
    margin-top: 32px;
    gap: 16px;
}

/* --- Información Clave del Workspace --- */

.headerInfo {
    display: flex;
    align-self: center;
    justify-content: start;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    width: 100%;
}
/* --- Navegación por Pestañas (Tabs) --- */

.tabs {
    display: flex;
    justify-content: start;
    margin-top: 8px;
    margin-bottom: 32px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tabButton {
    background: none;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray-lightest);
    cursor: pointer;
    border-bottom: 4px solid var(--color-gray-light);
    transition: all 0.2s ease-in;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tabButton:hover {
    color: var(--color-primary-light);
    border-bottom-color: var(--color-white);

}

.activeTab {
    color: var(--color-gray-white);
    border-bottom-color: var(--color-white);
    background-color: var(--color-gray-light);
    transform: translateY(8px);
}

.divider {
    display: flex;
    height: 4px;
    background-color: var(--color-gray-light);
    border: none;
    margin-bottom: 24px;
    margin-top: -36px;
}


.tabActions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

/* --- Dashboard Tab --- */

.dashboardGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

