.sidebar {
    height: 100vh;
    background-color: var(--color-gray-dark);
    border-right: 4px solid var(--color-gray-light);
    padding: 10px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Sidebar siempre posicionado fijo/absoluto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
}

.closed {
    width: 64px;
    /* Ancho colapsado */
    transform: translateX(0);
}

.open {
    width: 292px;
    /* Ancho expandido */
    transform: translateX(0);
}

.closed .toggleButton {
    right: -28px;
    /* Ajuste para que la flecha quede visible en el borde */
}


.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.iconImage {
    display: flex;
    align-items: center;
    align-self: center;
    width: 40px;
    object-fit: contain;
    white-space: nowrap;
    padding-left: 8px;
}

.iconImage:hover {
    cursor: pointer;
}

.logoImage {
    width: 100%;
    height: 72px;
    object-fit: contain;
    white-space: nowrap;
    margin-top: 16px;
}

.logoImage:hover {
    cursor: pointer;
    color: var(--color-white);
}

.closed .logo,
.closed .navLabel,
.closed .userName {
    width: 24px;
    transition: all 0.2s ease-in-out;
}

.open .logo,
.open .navLabel,
.open .userName {
    opacity: 1;
    width: auto;
    margin-left: 0;
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    gap: 16px;
}

.navItem {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 15px;
    color: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    padding: 8px 16px;
    border-left: 4px solid var(--color-gray-dark);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    width: 90%;
}

.navItem:hover {
    color: var(--color-white);
    border-left: 4px solid var(--color-white);
    background-color: var(--color-gray-light);
}

.active {
    background-color: var(--color-gray-light);
    border-left: 4px solid var(--color-white);
}

.closed .navItem {
    display: flex;
    flex-direction: column;
    width: 42px;
    height: 42px;
    margin-left: 2px;
    padding: 4px;
    justify-content: center;
    align-self: center;
    border-left: 4px solid var(--color-gray-dark);
    transition: all 0.2s ease-in-out;
}

.closed .active {
    background-color: var(--color-gray-light);
    color: var(--color-white);    
    border-left: 4px solid var(--color-white);
}

.closed .navItem svg {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.open .navItem svg {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}