
.sidebar {
    height: 100vh;
    background-color: var(--color-gray-dark);
    border-right: 4px solid var(--color-gray-darkest);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* Sidebar siempre posicionado fijo/absoluto */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; 
}

.closed {
    width: 64px; /* Ancho colapsado */
    transform: translateX(0);
}
.open {
    width: 292px; /* Ancho expandido */
    transform: translateX(0);
}

.toggleButton {
    background: var(--color-gray-dark);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    position: absolute;
    right: -28px;
    height: 40px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    z-index: 1001;
    transition: transform 0.3s ease-in-out;
}

¡.closed .toggleButton {
    right: -28px; /* Ajuste para que la flecha quede visible en el borde */
}


.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    position: relative; /* Para posicionar el toggleButton */
    border-bottom: 4px solid var(--color-gray-light);
}

.logo {
    font-family: var(--font-header);
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);
    white-space: nowrap; 
}

.iconImage {
    height: 48px;
    width: auto;
    object-fit: contain;
    margin: 16px;
    white-space: nowrap; 
}

.logoImage {
    height: 108px;
    width: auto;
    object-fit: contain;
    padding: 8px;
    white-space: nowrap; 
}
.closed .logo, 
.closed .navLabel,
.closed .userName {
    width: 24px;    
    transition: all 0.2s ease-in-out;
}

.open .logo, 
.open .navLabel,
.open .userName {
    opacity: 1;
    width: auto;
    margin-left: 0; 
}

.topSection {
    padding: 0 10px;
}


.navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 0;
    list-style: none;
}

.navItemContainer {
    width: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-gray-lightest);
    font-weight: 500;
    cursor: pointer;
    border-radius: 32px;
    padding: 8px;
    border: 4px solid var(--color-gray-dark);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    width: 90%;
}

.navItem:hover {
    background-color: var(--color-gray-darker);
    color: var(--color-white);
    background-color: var(--color-gray-light);
}

.active {
    background-color: var(--color-white);
    color: var(--color-gray-dark);
}

.closed .navItem svg {
    width: 25px; 
    height: 25px;
    transition: all 0.3s ease-in-out; 
}

.open .navItem svg {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

.closed .navItem {
    padding: 4px;
    justify-content: center;
}

.bottomSection {
    padding: 0 10px 10px 10px;
}

.divider {
    border: none;
    height: 4px;
    background-color: var(--color-gray-light);
    margin: 32px 0;
}

.logoutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;
}

.logoutBtn {
    background: none;
    color: var(--color-gray-lightest);
    border: 1px solid var(--color-error);
    padding: 4px; 
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    width: 60%;
}

/* Estilo del botón cuando está expandido */
.open .logoutBtn {
    padding: 8px 15px;
    justify-content: start;
    width: 90%;
}

.logoutBtn:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}