/* --- Estilos del Contenedor Principal --- */
.dropdownContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdownHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 16px;
    width: 100%;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* --- Estilos del Botón --- */
.button {
    display: flex;
    background-color: var(--color-gray-dark);
    border: none;
    color: var(--color-white);
    padding: 2px;
    border-radius: 32px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-gray-light);
}

/* --- Etiquetas y Placeholder --- */
.placeholder {
    color: var(--color-gray-400);
}

.selectedLabel {
    font-weight: 500;
    /* font-medium */
}

/* --- Icono de Flecha --- */
.chevron {
    transition: all 0.2s;
}

.chevronClosed {
    transform: rotate(0deg);
}

.chevronOpen {
    transform: rotate(180deg);
}

/* --- Menú Desplegable --- */
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    margin-top: -8px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--color-gray-darkest);
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
}

/* --- Opciones Individuales --- */
.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.option:hover {
    background-color: var(--color-blue-600);
    color: white;
}

/* Estilo para la opción que ya está seleccionada */
.optionSelected {
    /* No hay un estilo visual fuerte aquí, se usa el icono */
}

/* --- Otros Elementos --- */
.checkIcon {
    width: 1rem;
    /* w-4 */
    height: 1rem;
    /* h-4 */
    color: var(--color-blue-400);
}

.noOptions {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: var(--color-gray-400);
}