.selectorWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 4px;
  /* Ajusta el padding para el contenedor principal */
  border-radius: 8px;
  background-color: var(--color-gray-dark);
  border: solid;
  border-color: var(--color-gray-light);
  box-shadow: 0px 8px 0px var(--color-gray-darkest);
}

.buttonLeft, .buttonRight {
  /* Estilos base de los botones de icono */
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  /* Padding interno para los botones */
  color: var(--color-gray-lightest);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--color-gray-dark);
}

.buttonLeft:hover,
.buttonRight:hover {
  background-color: var(--color-gray-light);
  color: var(--color-white);
}

.buttonLeft:active,
.buttonRight:active {
  background-color: var(--color-gray-lightest);
  color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: none;
}

.buttonLeft:disabled,
.buttonRight:disabled {
  cursor: not-allowed;
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light);
  border-color: var(--color-gray-light);
  transform: translateY(0px);
}

.valueDisplay {
  /* Estilo para el número central */
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  margin: 8px;
  /* Espacio para separar del número */
  background-color: var(--color-gray-darkest);
  text-align: center;
  border-radius: 8px;
  flex-grow: 1;
}