
.selectorContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  align-items: center; 
  justify-content: space-between;
  gap: 8px;
}

.selectorLabel{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  min-width: 40%;
}

.selectorBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 60%;
  height: 32px;
  border-radius: 8px;
  border: 4px solid var(--color-gray-light);
  padding: 4px 0px;

}

.buttonLeft {
  /* Estilos base de los botones de icono */
  border: none;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  width: 20px;
  height: 24px;
  /* Padding interno para los botones */
  color: var(--color-gray-lightest);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-dark);
  margin-left: 4px;
}

.buttonRight {
  /* Estilos base de los botones de icono */
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  width: 20px;
  height: 24px;
  /* Padding interno para los botones */
  color: var(--color-gray-lightest);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-dark);
  margin-right: 4px;
}

.buttonLeft:hover,
.buttonRight:hover {
  background-color: var(--color-gray-light);
  color: var(--color-white);
}

.buttonLeft:active,
.buttonRight:active {
  background-color: var(--color-gray-lightest);
  color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: none;
}

.buttonLeft:disabled,
.buttonRight:disabled {
  cursor: not-allowed;
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light);
  border-color: var(--color-gray-light);
  transform: translateY(0px);
}

.valueDisplay {
  /* Estilo para el número central */
  font-family: var(--font-code);
  font-weight: 600;
  color: var(--color-white);
  /* Espacio para separar del número */
  background-color: var(--color-gray-darkest);
  text-align: center;
  width: 100%;
}