
.selectorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 8px;
}

.selectorLabel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30%;
}

.selectorBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 4px solid var(--color-gray-light);

}

.buttonLeft {
  /* Estilos base de los botones de icono */
  border: none;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  /* Padding interno para los botones */
  color: var(--color-gray-lightest);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-dark);
}

.buttonRight {
  /* Estilos base de los botones de icono */
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  /* Padding interno para los botones */
  color: var(--color-gray-lightest);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-dark);
}

.buttonLeft:hover,
.buttonRight:hover {
  background-color: var(--color-gray-light);
  color: var(--color-white);
}

.buttonLeft:active,
.buttonRight:active {
  background-color: var(--color-gray-lightest);
  color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: none;
}

.buttonLeft:disabled,
.buttonRight:disabled {
  cursor: not-allowed;
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light);
  border-color: var(--color-gray-light);
  transform: translateY(0px);
}

.inputField {
  font-family: var(--font-body);
  font-size: 16px;
  background-color: var(--color-gray-darkest);
  border: none;
  outline: none;
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 2px;
  text-align: center;
  align-items: center;
  align-self: center;
}

.inputField:focus {
  background-color: var(--color-gray-light);
  border-color: var(--color-white);
  color: var(--color-white);
}

.inputField:disabled {
  background-color: var(--color-gray-light);
  border-color: var(--color-gray-light);
  color: var(--color-gray-dark);
  cursor: not-allowed;
}

.unitLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-width: 10%;
}