.formContainer {
    position: relative;
    padding: 8px;
    max-width: 450px;
    width: 100%;
    font-family: var(--font-body);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.buyPrice{
    color: var(--color-white);
    background-color: var(--color-gray-darkest);
    border-radius: 16px;
    align-items: center;
    padding: 8px;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.detailsSection {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
}

.detailItem {
    display: flex;  
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.detailLabel {
    font-weight: 700;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
    padding: 1px 8px;
    color: var(--color-white);
}

.buyButton {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 16px;
}
