.button {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border: 4px solid transparent;
  box-shadow: 2px 2px 0px var(--color-gray-dark);
  background-color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: fit-content;
  align-self: center;
}

/* --- Variantes de Botones --- */

/* Botón Primario */
.primary {
  background-color: var(--color-gray-dark);
  border-color: var(--color-gray-light);
  color: var(--color-gray-lightest);
  box-shadow: 0px 8px 0px var(--color-gray-darkest);


}

.primary:hover {
  background-color: var(--color-gray-light);
  border: solid 4px var(--color-white);
  color: var(--color-white);
  transform: translateY(-4px);
  box-shadow: 0px 12px 0px var(--color-white);
}

.primary:active {
  background-color: var(--color-white);
  border: solid 4px var(--color-white);
  color: var(--color-gray-darkest);
  transform: translateY(8px);
  box-shadow: none;
}

/* Botón Secundario */
.secondary {
  background-color: var(--color-gray-light);
  color: var(--color-gray-lightest);

}

.secondary:hover {
  background-color: var(--color-gray-light);
  color: var(--color-white);
  border-color: var(--color-white);
  transform: translateY(-4px);
}

.secondary:active {
  transform: translateY(8px);
  box-shadow: none;
}

/* Botón de Peligro */
.danger {
  background-color: var(--color-gray-darkest);
  border-color: var(--color-red);
  color: var(--color-red);
  box-shadow: 0px 8px 0px var(--color-red);

}

.danger:hover {
  background-color: var(--color-red);
  border-color: var(--color-white);
  color: var(--color-white);
  box-shadow: 0px 12px 0px var(--color-white);
  transform: translateY(-4px);
}

.danger:active {
  transform: translateY(2px);
}

/* Botón Fantasma (para iconos o texto ligero) */
.ghost {
  background: var(--color-gray-dark);
  border: none;
  color: var(--color-gray-lightest);
  border-radius: 32px;
  box-shadow: none;

}

.ghost:hover {
  background: var(--color-gray-light);
  color: var(--color-white);
}

.ghost:active {
  background: var(--color-gray-lightest);
}

/* Botón de solo icono */
.icon-only {
  background-color: var(--color-gray-dark);
  color: var(--color-gray-lightest);
  border-radius: 8px;
  border: solid 4px var(--color-gray-light);
  box-shadow: 0px 8px 0px var(--color-gray-darkest);
  width: fit-content;
}

.icon-only:hover {
  color: var(--color-white);
  background-color: var(--color-gray-light);
  border: solid 4px var(--color-white);
  transform: translateY(-4px);
  box-shadow: 0px 12px 0px var(--color-white);
}

.icon-only:active {
  background-color: var(--color-white);
  border: solid 4px var(--color-white);
  color: var(--color-gray-darkest);
  transform: translateY(8px);
  box-shadow: none;
}

/* Estado Deshabilitado */
.disabled {
  background: var(--color-gray-dark);
  cursor: not-allowed;
  border: solid 4px var(--color-gray-light);
  box-shadow: 0px 8px var(--color-gray-light);
  color: var(--color-gray-light);
  transform: none;
}

/* Estado Deshabilitado */
.disabled:hover {
  background: var(--color-gray-dark);
  border: solid 4px var(--color-gray-light);
  box-shadow: 0px 8px 0px var(--color-gray-light);
  color: var(--color-gray-light);
  transform: translateY(0px);
}