.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    margin-bottom: 12px;
}

.content {
    display: flex;
    gap: 20px;
}

.left {
    width: 320px;
}

.right {
    flex: 1;
}

.controlsCard {
    background: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 89vh;
}

.formRow {
    display: flex;
    gap: 12px;
}

.formRowControls {
    margin-top: 16px;
    border-top: 4px solid var(--color-gray-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 12px;
}

.sliderRow {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chartCard {
    background: var(--color-gray-dark);
    border-radius: 8px;
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    padding: 16px 32px;
    
}

.controlsCard label {
    font-weight: 700;
    color: var(--color-white);
}

.controlsCard input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: var(--color-gray-darkest);
    color: var(--color-white);
}