.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: var(--color-gray-darkest);
  color: var(--color-white);
  transform: translateX(-100%); /* Oculta la sidebar por defecto */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
  transform: translateX(0); /* Muestra la sidebar */
}

.topSection {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.logo {
  font-family: var(--font-title);
  font-size: 24px;
}

.menuToggle {
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  text-decoration: none;
  color: var(--color-medium-gray);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-body);
}

.navItem:hover {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
}

.navItem.active {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
}

/* El indicador de selección */
.navItem.active::before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: var(--color-orange-light);
  position: absolute;
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bottomSection {
  padding: 24px;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--color-gray-dark);
  margin: 16px 0;
}

.logoutSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-medium-gray);
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color: var(--color-medium-gray);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.logoutBtn:hover {
  color: var(--color-white);
}