.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: fit-content;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: auto;
}

.contentGrid {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
}

.visualizerColumn {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: start;
    width: 35%;
}

.viewerCardPlaceholder {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
    border: 4px solid var(--color-gray-light);
    padding: 8px 32px;
    width: inherit;
    flex-grow: 1;
    height: 89vh;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
}

/* Columna de la Lista (a la derecha) */
.listColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: start;
}

.listColumnFooter {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 32px;
    align-self: flex-end;
    align-items: end;
}

.tabColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Contenedor de la Tabla */
.tableContainer {
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
}

.detailLabel {
    font-weight: 400;
    color: var(--color-white);
}

.detailValue {
    font-weight: 400;
    color: var(--color-gray-lightest);
}

/* --- Estilos de Tabla y Celdas --- */

.idCell {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-gray-lightest);
    /* gray-500 */
}

/* Celda de Nombre (con estilo de enlace/click) */
.nameCellLink {
    font-weight: 600;
    color: var(--color-gray-lightest);
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    padding: 2px 0;
    /* Espaciado para mejorar el área de clic */
    transition: all 0.2 ease-in-out;
}

.nameCellLink:hover {
    color: var(--color-white);
}

.activeName {
    color: var(--color-white);
    background-color: var(--color-gray-light);
    border-radius: 8px;
    padding: 4px 8px;
}

.centerAlign {
    text-align: center;
}

/* --- Empty State --- */
.emptyState {
    text-align: center;
    padding: 50px;
    background-color: var(--color-gray-darkest);
    border-radius: 8px;
    margin-top: 20px;
}

.emptyIcon {
    color: var(--color-gray-light);
    margin-bottom: 15px;
}

/* Estilos para el dialogo */
.dialogContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dialogHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dialogBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
}