.formContainer {
    position: relative;
    padding: 8px;
    max-width: 450px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-gray-dark);
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.doneButton {
    display: flex;
    justify-content: end;
    margin-top: 16px;
}