/* src/AppLayout.module.css */

.appLayout {
    display: flex; 
    flex-direction: column; /* Asegura que el contentWrapper ocupe el espacio */
    min-height: 100vh;
    background-color: var(--color-gray-dar); 
    position: relative;
    overflow-x: hidden;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    width: 100%;
    margin-left: 60px; 
    transition: margin-left 0.3s ease-in-out;
}

.contentWrapper.contentShift {
    margin-left: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: 999; 
}

.pageTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--color-primary);
    flex-grow: 1; 
    text-align: left;
}

.logoutButton {
    background-color: var(--color-error);
    color: var(--color-red);
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    border: 4px solid var(--color-red);
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
}

.logoutButton:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

.mainContent {
    flex-grow: 1;
    padding: 32px;
    margin-top: -72px;
}

/* 1. Definir el ancho de la barra */
body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-gray-darker);
    outline: 4px solid var(--color-gray-light);
}

/* 2. Definir el fondo o "track" */
body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    background: var(--color-gray-darkest);
}

/* 3. Definir el "thumb" (la pieza que se mueve) */
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    /* Usamos un gris muy sutil para el agarre */
    background: var(--color-gray-light);
    border: none; 
}

/* 4. Estilo hover para el "thumb" */
body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
    background: var(--color-white);
}