/* src/AppLayout.module.css */

.appLayout {
    display: flex; 
    flex-direction: column; /* Asegura que el contentWrapper ocupe el espacio */
    background-color: var(--color-gray-dar); 
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-left: 64px;
    background-color: var(--color-gray-dark);
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;
    width: 100%;
    overflow: hidden;
}

.contentWrapper.contentShift {
    margin-left: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 20, 19, 0.5); /* Oscurece el fondo */
    z-index: 999;
    transition: background-color 1s ease-in-out;
}

.pageTitle {
    flex-grow: 1; 
    text-align: left;
}

