/* src/AppLayout.module.css */

.appLayout {
    display: flex; 
    flex-direction: column; /* Asegura que el contentWrapper ocupe el espacio */
    background-color: var(--color-gray-dar); 
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 60px; 
    transition: margin-left 0.3s ease-in-out;
    height: 100vh;
    overflow: hidden;
}

.contentWrapper.contentShift {
    margin-left: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: 999; 
}

.pageTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--color-primary);
    flex-grow: 1; 
    text-align: left;
}

.logoutButton {
    background-color: var(--color-error);
    color: var(--color-red);
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    border: 4px solid var(--color-red);
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
}

.logoutButton:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

.mainContent {
    width: 94%;
    align-self: start;
    margin-left: 32px;
    margin-top: 8px;
    justify-content: start;
    scrollbar-width: none;
    height: 100vh;
    overflow: hidden;
}