/* Contenedor del Toast */
.toast {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--color-gray-dark);
  gap: 12px;
  animation: fadeIn 0.3s ease-in-out;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.message {
  font-weight: 500;
  font-size: 1rem;
  flex-grow: 1;
}

/* Animación de salida */
.fadeOut {
  transform: translateX(120%);
  opacity: 0;
}

/* --- ESTILOS ESPECÍFICOS POR TIPO --- */

/* Success Toast */
.success {
  background-color: var(--color-gray-darkest);
  box-shadow: 0px 4px 0px 0px var(--color-green);
}

.success .icon {
  color: var(--color-green);
}

.success .message {
  color: var(--color-green);
}

/* Error Toast */
.error {
  background-color: var(--color-gray-darkest);
  box-shadow: 0px 4px 0px 0px var(--color-red);
}

.error .icon {
  color: var(--color-red);
}

.error .message {
  color: var(--color-red);
}

/* Warning Toast */
.warning {
  background-color: var(--color-gray-darkest);
  box-shadow: 0px 4px 0px 0px var(--color-yellow);
}

.warning .icon {
  color: var(--color-yellow);
}

.warning .message {
  color: var(--color-yellow);
}

/* Info Toast */
.info {
  background-color: var(--color-gray-darkest);
  box-shadow: 0px 4px 0px 0px var(--color-white);
}

.info .icon {
  color: var(--color-white);
}

.info .message {
  color: var(--color-white);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(40px);
  }
}