.formContainer {
    position: relative;
    padding: 8px;
    max-width: 450px;
    width: 100%;
}

.infoMessage {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-left: 4px solid var(--color-info);
    background-color: var(--color-gray-dark);
    color: var(--color-gray-lightest);
    font-size: 14px;
    border-radius: 4px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--color-gray-dark);
}