/* ---------------------------------- */
/* Contenedor Principal y Estructura  */
/* ---------------------------------- */

.componentSelector {
    padding: 1rem;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    border-radius: 0.75rem;
    /* Bordes redondeados */
    margin-bottom: 1.5rem;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
}

.label {
    display: block;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

/* ---------------------------------- */
/* Búsqueda y Dropdown de Resultados  */
/* ---------------------------------- */

.searchAndSelect {
    position: relative;
    margin-bottom: 1rem;
}

.resultsDropdown {
    position: absolute;
    top: 100%;
    /* Justo debajo del InputField */
    left: 0;
    right: 0;
    z-index: 20;
    background-color: var(--color-gray-dark);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 8px;
}

.resultItem {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.resultItem:hover {
    /* Color de fondo al pasar el ratón */
    background-color: var(--color-gray-light);
    box-shadow: 0px 8px 0px 0px var(--color-white);

}

.categoryBadge {
    font-size: 0.75rem;
    padding: 2px 8px;
    border-radius: 16px;
    /* Píldora */
    background-color: var(--color-gray-darkest);
    font-weight: 400;
}

/* ---------------------------------- */
/* Área de Adición y Cantidad         */
/* ---------------------------------- */

.addComponentArea {
    padding: 0.75rem;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    margin-bottom: 16px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.selectedItemText {
    color: var(--color-white);
    font-weight: 400;
}

.quantityAndButton {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
    /* Espaciado entre selector y botón */
}

/* ---------------------------------- */
/* Indicador de Carga                 */
/* ---------------------------------- */

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #4f46e5;
    font-size: 1rem;
    gap: 0.5rem;
}

/* Asegúrate de que el selector de números sea compacto en esta área */
.quantityAndButton> :nth-child(1) {
    /* Ajusta el ancho del NumberSelector si es necesario */
    flex-grow: 1;
    max-width: 150px;
}