.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: -16px;
}

.tabList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;
  border-bottom: 4px solid var(--color-gray-light);
  background: var(--color-gray-dark);
  width: inherit;
  flex-grow: 1;
}

.tabButton {
  background: var(--color-gray-dark);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: var(--color-white);
  border-radius: 8px 8px 0px 0px;
  border: 4px solid var(--color-gray-light);
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.tabButton:hover {
  background: var(--color-gray-light);
  border-color: var(--color-white);
  box-shadow: 0px 8px 0px 0px var(--color-white);
  transform: translateY(-8px);
}

.active {
  background: var(--color-gray-light);
}

.tabPanel {
  padding: 16px 0px;
  width: inherit;
  overflow: auto;
}