/* src/pages/ShopPage/ShopPageDetails.module.css */

.headerContainer {
    display: flex;
    align-self: start;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 50%;
}

.productCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    border-radius: 16px;
    padding: 32px;
    gap: 32px;
    width: 100%;
    height: 100%;
}

.namePriceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-bottom: 32px;
    border-bottom: 4px solid var(--color-gray-light);
}

.productName {
    font-size: 2rem;
    color: var(--color-white);
    border-radius: 32px;
    text-align: center;
    /* Ocupa todo el ancho en m贸vil */
}

.priceTag {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-gray-light);
    padding: 4px 32px;
    border-radius: 16px;

}

/* --- Columna Izquierda: Visor 3D --- */
.viewerColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-self: center
}

.viewerContainer {
    display: flex;
    background-color: var(--color-gray-darkest);
    border: 4px solid var(--color-gray-light);
    border-radius: 16px;
    width: 100%;
    height: 75vh;
}

.viewerTip {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-gray-light);
    margin-top: 10px;
}

/* --- Columna Derecha: Informaci贸n --- */

.infoColumn {
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    gap: 32px;
    height: 100%;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-gray-light);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 30px;
    width: 100%;
}

/* --- Secci贸n de Informaci贸n --- */

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    padding: 16px;

}

.infoHeader {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 4px solid var(--color-gray-light);
}

.infoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.infoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    width: 100%;
}

.infoLabel {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 8px;
}

.infoValue {
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-darkest);
    border-radius: 0px 6px 6px 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
}

/* --- Compatibility List --- */

.compatibilityHeader {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.compatibilityItem {
    background-color: var(--color-gray-dark);
    color: var(--color-gray-lightest);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid var(--color-primary-light);
}

/* --- Purchase Controls --- */

.purchaseControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 16px;
}

.quantityControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.quantityLabel {
    font-size: 0.9rem;
    color: var(--color-white);
}

.addToCartButton {
    flex-grow: 1;
}