/* src/pages/ShopPage/ShopPageDetails.module.css */

.detailsPage {}

.headerContainer {
    display: flex;
    align-self: start;
    justify-content: end;
    align-items: center;
    margin-bottom: 32px;
}

.productContainer {
    display: flex;
    gap: 16px;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    height: 85vh;
}

/* --- Columna Izquierda: Visor 3D --- */

.viewerColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.viewerLgContainer {
    background-color: var(--color-gray-darkest);
    border: 4px solid var(--color-gray-light);
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.viewerTip {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-gray-light);
    margin-top: 10px;
}

/* --- Columna Derecha: Información --- */

.infoColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.namePriceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 32px;
    gap: 16px;
    border-bottom: 4px solid var(--color-gray-light);
    justify-content: center;
}

.productName {
    font-size: 2rem;
    color: var(--color-white);
    border-radius: 32px;
    text-align: center;
    /* Ocupa todo el ancho en móvil */
}


.priceTag {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-gray-light);
    padding: 4px 32px;
    border-radius: 16px;

}

.ratingTag {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-orange);
    background-color: var(--color-gray-dark);
    padding: 5px 12px;
    border-radius: 6px;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-white);
    background-color: var(--color-gray-light);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 30px;
    width: 100%;
}

.sectionTitle {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-white);
    margin: 20px 0 15px 0;
    border-bottom: 2px solid var(--color-primary-light);
    padding-bottom: 5px;
}

/* --- Specs Grid --- */
.specsSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

}

.specItem {
    background-color: var(--color-gray-darkest);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    border: 4px solid var(--color-gray-light);
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.specItem:hover {
    background-color: var(--color-gray-light);
    border-color: var(--color-white);
    box-shadow: 0px 12px 0px var(--color-white);
    transform: translateY(-4px);
}

.specIcon {
    color: var(--color-primary);
}

.specLabel {
    font-size: 0.9rem;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
}

.specValue {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-white);
}

/* --- Compatibility List --- */

.compatibilityHeader {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.compatibilityItem {
    background-color: var(--color-gray-dark);
    color: var(--color-gray-lightest);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid var(--color-primary-light);
}

/* --- Purchase Controls --- */

.purchaseControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.quantityControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.quantityLabel {
    font-size: 0.9rem;
    color: var(--color-white);
}

.addToCartButton {
    flex-grow: 1;
}