/* src/pages/Shop/ShopPage.module.css */

.headerContainer {
    display: flex;
    align-self: start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding: 32px 0px;
    border-bottom: 4px solid var(--color-gray-light);
    flex-wrap: wrap;
    gap: 15px;
}

.cartButton {
    min-width: 150px;
}

.searchBarContainer {
    margin-bottom: 30px;
}

/* --- Item Cards Grid --- */

.itemsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 16px;


}

.itemCard {
    background-color: var(--color-gray-darkest);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px var(--color-gray-darkest);
    width: 256px;
    margin-top: 8px;
}

.itemCard:hover {
    border: solid 4px var(--color-white);
    color: var(--color-white);
    transform: translateY(-4px);
    box-shadow: 0px 12px 0px var(--color-white);
}

.iconContainer {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.itemIcon {
    color: var(--color-info);
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.itemNameContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.itemName {
    color: var(--color-white);
    text-align: center;
}

.itemDescription {
    font-size: 14px;
    color: var(--color-gray-light);
    margin: 0 0 15px 0;
    text-align: center;
}

.itemMeta {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--color-gray-dark);
    width: 100%;
}

.itemCategory {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-primary-light);
    background-color: var(--color-gray-dark);
    padding: 4px 12px;
    border-radius: 16px;
    align-self: center;
}

.itemRating {
    font-size: 14px;
    color: var(--color-warning);
}

.itemFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    gap: 8px
        /* Alinea al final del contenedor */
}

.itemPrice {
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-gray-dark);
    border-radius: 32px;
    padding: 4px 16px
}

/* --- Floating Cart --- */

.floatingCart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-gray-dark);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}

.floatingCart p {
    margin: 0;
    font-weight: 600;
    color: var(--color-white);
}

/* --- Empty State --- */
.emptyState {
    grid-column: 1 / -1;
    text-align: center;
    padding: 50px;
    background-color: var(--color-gray-darkest);
    border-radius: 10px;
    color: var(--color-gray-light);
    margin-top: 20px;
}

.emptyIcon {
    color: var(--color-gray-dark);
    margin-bottom: 15px;
}