/* src/pages/ShopPage/ShopPageDetails.module.css */
.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: auto;
}

.productCard {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    border-radius: 16px;
    width: 100%;
    height: 100vh;
    gap: 16px;
}

.viewerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: inherit;
    background-color: var(--color-gray-darkest);
    border: 4px solid var(--color-gray-light);
    border-radius: 8px;
}

/* --- Sección de Información --- */
.productInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border: 4px solid var(--color-gray-light);
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    gap: 32px;
    width: 100%;
    height: 75%;
}

/* --- Sección de Información --- */

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
    width: 50%;
    height: inherit;

}

.productNameHeader {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 32px 0px;
    width: inherit;
    border-bottom: 4px solid var(--color-gray-light);
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.productName {
    font-size: 2rem;
    color: var(--color-white);
    border-radius: 32px;
    text-align: center;
    /* Ocupa todo el ancho en móvil */
}

.priceTag {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-white);
    padding: 0px 32px;
    border-radius: 32px;
    border: 4px solid var(--color-gray-light);

}

.descriptionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    color: var(--color-white);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 30px;
    width: 100%;
    background-color: var(--color-gray-darkest);
}

.infoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.infoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 4px solid var(--color-gray-light);
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
    width: 100%;
}

.infoLabel {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 8px;
}

.infoValue {
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-darkest);
    border-radius: 0px 6px 6px 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
}

/* --- Purchase Controls --- */

.purchaseCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 16px;
    width: 30%;
    height: 75%;
    gap: 64px;
    background-color: var(--color-gray-dark);
    border: 4px solid var(--color-gray-light);
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px var(--color-gray-darkest);
}

.purchaseHeader {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: inherit;
    border-bottom: 4px solid var(--color-gray-light);
    padding: 32px 0px;
    gap: 16px;
    width: 100%;
}

.purchaseBody {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 64px 0px;
    width: 100%;
}

.quantityControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.quantityLabel {
    font-size: 0.9rem;
    color: var(--color-white);
}

.addToCartButton {
    flex-grow: 1;
}